input {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input:disabled {
    color: white;
}

@media (max-width: 670px) {
    input {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}