nav {
    background-color: #38b38e;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffffff;
    color: black;
}